/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 juin 2016, 20:35:51
    Author     : atbr
*/

.boutton-start{
    padding: 1%;
    background: #B8BBB9;
}

.info-admin{
    height: 90%;
    border-bottom: 1px solid;
    background: #C2E8CB;
    text-shadow: 2px 2px 2px #777;
}
.info-region{
    font-family: cooper;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #777;
}

.next, .cancel, .previous{
    display: inline-table;
    margin: 5px;
}

.block-first-admin{
    height: 55%;
    width: 25%;
    margin-left: 36%;
    border: solid 1px green;
}

